@font-face{

	font-family: Robotoregular;
	src: url(Roboto-Regular.ttf);
}
@font-face{
	font-family: Roboto;
	src: url(Roboto-Thin.ttf);
}
body{
	background-color: #101c2b;
}

::selection {
    background: transparent;
}
::-moz-selection {
    background: transparent;
}

#previous{
	
	background-color: #2d3845;
	position: absolute;
	width: 10vw;
	height: 6vh;
	border-radius: 40px;
	margin-top: 5%;
	color: white;
	margin-left: 43vw;
	font-family: Roboto;
	font-size: 82%;
	transition-duration: 0.4s;
}
#previouss{
	
	background-color: #2d3845;
	position: absolute;
	width: 10vw;
	height: 6vh;
	border-radius: 40px;
	margin-top: 5%;
	color: white;
	margin-left: 43vw;
	font-family: Roboto;
	font-size: 82%;
	transition-duration: 0.4s;
}
#retour{
	padding-left: 2.5vw;
	margin-top: 5%;
	font-size: 180%;
	text-align: center;
	font-family: Roboto;
	
}
#previous:hover{
	padding-top: 0vh;
	background-color: white;
	cursor: pointer;
	width: 12vw;
    height: 6vh;
    margin-top:5%;
    margin-left: 42vw;
    color: #2d3845;
    transition-duration: 0.4s;
   
}
#previouss:hover{
	padding-top: 0vh;
	background-color: white;
	cursor: pointer;
	width: 12vw;
    height: 6vh;
    margin-top:5%;
    margin-left: 42vw;
    color: #2d3845;
    transition-duration: 0.4s;
   
}
input::placeholder {
  color: white;
}
#input::placeholder {
  color: white;
}
#comptablee{
	position: relative;
	color: white;
	width: 100%;
	text-align: center;
	margin-top: 4%;
	font-size: 200%;
	font-family: Robotoregular;
}
input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  color: white;
  width: 15vw;
  position: relative;
  margin-top: 2%;
  margin-left: 41vw;
  font-size: 120%;
  font-family: Roboto;
  	

}
#input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  width: 15vw;
  color: white;
  position: relative;
  margin-top: 5%;
  margin-left: 41vw;
  font-size: 115%;
  font-family: Roboto;
  	color: white;
}
#connect{
	padding-top: 1.5vh;
	color: white;
	position: relative;
	background-color: #101c2b;
	width: 10vw;
	height: 6vh;
	border-radius: 40px; 
	margin-top: 30%;
	margin-left: 43vw;
	font-size: 82%;
	border-color: white;
	border-width: 25%;
	border-style: solid;
	font-family: Roboto;
	transition-duration: 0.4s;

}
#connexion{
	margin-top: 1%;
	font-size: 180%;
	text-align: center;
	font-family: Roboto;
	transition-duration: 0.4s;
	

}
#connect:hover{
	padding-top: 1vw;
	background-color: white;
	cursor: pointer;
	 width: 12vw;
    height: 6vh;
    margin-top: 5%;
    margin-left: 42vw;
    color: #2d3845;
transition-duration: 0.4s;    

}
#image{
	position: relative;
	width: 2vw;
	margin-top: 5.5%;
	margin-left: 44vw;
}