@font-face{

	font-family: Roboto;
	src: url(Roboto-Thin.ttf);
}
body{
	background-color: #101c2b;
	overflow-x: hidden;
}
h1{
	background-color: #2d3845;
	font-size: 365%;
	margin-top: -0.6%;
	margin-left: -0.6%;
	margin-right: -0.5%;
	text-align: center;
	color: white;
	font-family: Roboto;
}
h2{
	color: white;
	text-align: center;
	font-size: 170%;
	margin-top: 9%;
	font-family: Roboto;
	margin-bottom: 3%;

}
h3{
	margin-top: 0;
	font-size: 180%;
	text-align: center;
	font-family: Roboto;
}
#visiteur{
		padding-top: 2.5vh;
		color: white;
		position: absolute;
		background-color: #2d3845;
		top: 30vh;
		left: 43vw;
		border-radius: 40px;
		width: 15vw;
		height: 7.5vh;
    	transition-duration: 0.4s;
}
h4{
	margin-top: 0;
	font-size: 180%;
	text-align: center;
	font-family: Roboto;
	
}
#comptable{
	padding-top: 2.5vh;
	color: white;
	position: absolute;
	background-color: #2d3845;
	top: 46.5vh;
	left: 43vw;
	border-radius: 40px;
	width: 15vw;
	height: 7.5vh;
	transition-duration: 0.4s;
}
#visiteur:hover{
	cursor: pointer;
	background-color: white;
    color: #2d3845 ;
    width: 16vw;
    height: 8vh;
    top: 30vh;
    left: 42.5vw;
    padding-top: 3.5vh;
    transition-duration: 0.4s;
}
#comptable:hover{
	cursor: pointer;
	background-color: white;
    color: #2d3845 ;
    width: 16vw;
    height: 8vh;
    top: 46.5vh;
    left: 42.5vw;
    transition-duration: 0.4s;
    padding-top: 3.5vh;
}

#divconnexion{
	position: absolute;
	left: 100vw;
	top: 10vh;
	width: 100vw;
	transition-duration: 0.4s;

}
#divindex{
	position: absolute;
	left: 0vw;
	top: 10vh;
	width: 100vw;
	transition-duration: 0.4s;
}
#divcomptable{
	position: absolute;
	left: 100vw;
	top: 10vh;
	width: 100vw;
	transition-duration: 0.4s;

}