body
{
	background-color: #101c2b;
	overflow: hidden;
}

:focus{
	outline: 0;
}
<<<<<<< HEAD

::selection {
    background: transparent;
}
::-moz-selection {
    background: transparent;
}

=======
overflow-x: hidden;
>>>>>>> ca49b886ed6a7486899b6519e897aa18c8123229
#top_bar
{
	background-color: #2d3845;
	position: absolute;
	top : 0;
	left: 0;
	height: 10vh;
	width: 100vw;
}

#top_title
{
	position: absolute;
	width: 100vw;
	left: 0;
	top: 2vh;
	text-align: center;
	font-family: Robotothin;
	font-size: 5vh;
	color: white;
}

#new_remboursement_txt
{
	font-family: Robotothin;
	color: white;
	font-size: 3.5vh;
	position: absolute;
	top: 15vh;
	left: 33vw;
	cursor: pointer;
}

#new_remboursement_div
{
	position: absolute;
	top: 20vh;
	left: 32vw;
	height: 4px;
	background-color: white;
	width: 12vw;
}

#my_remboursements_txt
{
	cursor: pointer;
	font-family: Robotothin;
	color: white;
	font-size: 3.5vh;
	position: absolute;
	top: 15vh;
	left: 59vw;
}

#my_remboursements_div
{
	position: absolute;
	top: 20vh;
	left: 58.2vw;
	height: 4px;
	background-color: #2d3845;
	width: 9vw;
}

#forfait_elements
{
	position: absolute;
	height: 50vh;
	width: 40vw;
	top: 30vh;
	left: 6.6vw;
	border-radius: 10vh;
	border: solid 1px white;
	transition-duration: 1s;
}

#forfait_title
{
	font-family: 'Robotothin';
	color: white;
	font-size: 3vh;
	position: absolute;
	background-color: #101c2b;
	top: -2vh;
	left: 12vw;
	padding-left: 1vw;
	padding-right: 1vw;
}

#horsforfait_elements
{
	position: absolute;
	height: 50vh;
	width: 40vw;
	top: 30vh;
	left: 53.2vw;
	border-radius: 10vh;
	border: solid 1px white;
	transition-duration: 1s;
}

#horsforfait_title
{
	font-family: 'Robotothin';
	color: white;
	font-size: 3vh;
	position: absolute;
	background-color: #101c2b;
	top: -2vh;
	left: 12.5vw;
	padding-left: 1vw;
	padding-right: 1vw;
}

#current_month_txt
{
	position: absolute;
	top: 35vh;
	width: 99vw;
	text-align: center;
	font-size: 4vh;
	font-family: Robotothin;
	color: white;
}

#previous_btn
{
	position: absolute;
	top: 35.5vh;
	left: 42vw;
	height: 3.8vh;
	width: 2vh;

}

#next_btn
{
	position: absolute;
	top: 35.5vh;
	left: 58vw;
	height: 3.8vh;
	width: 2vh;

}

#add_repas
{
	background-color: #2d3845;
	position: absolute;
	top: 11vh;
	left: 9vw;
	height: 5.5vh;
	width: 4vh;
	border-radius: 100%;
	font-family: Robotothin;
	color: white;
	font-size: 4vh;
	padding-top: 0.5vh;
	padding-left: 2vh;
	cursor: pointer;
}

#less_repas
{
	background-color: #2d3845;
	position: absolute;
	top: 11vh;
	left: 14.5vw;
	height: 5.5vh;
	width: 4vh;
	border-radius: 100%;
	font-family: Robotothin;
	color: white;
	font-size: 4vh;
	padding-top: 0.5vh;
	padding-left: 2vh;
	cursor: pointer;
}

#repas_input
{
	position: absolute;
	top: 12.5vh;
	left: 12.2vw;
	height: 3vh;
	width: 2vw;
	background-color: transparent;
	border-style: none;
    border-bottom: solid white 1px;
    color: white;
    font-size: 3vh;
    padding-bottom: 1vh;
    text-align: center;
    font-family: "Robotothin";
}

#repas_txt
{
	position: absolute;
	top: 22.5vh;
	left: 20vw;
	color: white;
	font-family: Robotothin;
	font-size: 3vh;
}

#add_nuits
{
	background-color: #2d3845;
	position: absolute;
	top: 21vh;
	left: 9vw;
	height: 5.5vh;
	width: 4vh;
	border-radius: 100%;
	font-family: Robotothin;
	color: white;
	font-size: 4vh;
	padding-top: 0.5vh;
	padding-left: 2vh;
	cursor: pointer;
}

#less_nuits
{
	background-color: #2d3845;
	position: absolute;
	top: 21vh;
	left: 14.5vw;
	height: 5.5vh;
	width: 4vh;
	border-radius: 100%;
	font-family: Robotothin;
	color: white;
	font-size: 4vh;
	padding-top: 0.5vh;
	padding-left: 2vh;
	cursor: pointer;
}

#nuits_input
{
	position: absolute;
	top: 22.5vh;
	left: 12.2vw;
	height: 3vh;
	width: 2vw;
	background-color: transparent;
	border-style: none;
    border-bottom: solid white 1px;
    color: white;
    font-size: 3vh;
    padding-bottom: 1vh;
    text-align: center;
    font-family: "Robotothin";
}

#nuits_txt
{
	position: absolute;
	top: 12.5vh;
	left: 20vw;
	color: white;
	font-family: Robotothin;
	font-size: 3vh;
}

#add_km
{
	background-color: #2d3845;
	position: absolute;
	top: 31vh;
	left: 9vw;
	height: 5.5vh;
	width: 4vh;
	border-radius: 100%;
	font-family: Robotothin;
	color: white;
	font-size: 4vh;
	padding-top: 0.5vh;
	padding-left: 2vh;
	cursor: pointer;
}

#less_km
{
	background-color: #2d3845;
	position: absolute;
	top: 31vh;
	left: 14.5vw;
	height: 5.5vh;
	width: 4vh;
	border-radius: 100%;
	font-family: Robotothin;
	color: white;
	font-size: 4vh;
	padding-top: 0.5vh;
	padding-left: 2vh;
	cursor: pointer;
}

#km_input
{
	position: absolute;
	top: 32.5vh;
	left: 12.2vw;
	height: 3vh;
	width: 2vw;
	background-color: transparent;
	border-style: none;
    border-bottom: solid white 1px;
    color: white;
    font-size: 3vh;
    padding-bottom: 1vh;
    text-align: center;
    font-family: "Robotothin";
}

#km_txt
{
	position: absolute;
	top: 32.5vh;
	left: 20vw;
	color: white;
	font-family: Robotothin;
	font-size: 3vh;
}

#hf_div
{
	position: absolute;
	top: 5vh;
	left: 14vw;
	width: 12vw;
	height: 7vh;
	background-color: #2d3845;
	border-radius: 10vh;
	cursor: pointer;
}

#hf_btn_txt
{
	pointer-events: none;
	position: absolute;
	margin-top: 1.5vh;
	width: 100%;
	text-align: center;
	color: white;
	font-family: Robotothin;
	font-size: 3vh;
}

#hf_blocks
{
	position: absolute;
	height: 36vh;
	width: 84%;
	margin-left: 8%;
	margin-top: 15%;
	overflow-x: hidden;
	overflow-y: auto;
}

.hf_block
{
	width: 100%;
	height: 8vh;
	background-color: #2d3845;
	border-radius: 30vh;
	margin-bottom: 1vh;
}

#submit_btn
{
	position: absolute;
	bottom: 2vh;
	left: 10vw;
	width: 19vw;
	height: 7vh;
	background-color: #2d3845;
	color: white;
	border-radius: 10vh;
	cursor: pointer;
}

#submit_btn:active
{
	background-color: white;
	color: #2d3845;
}

.disabled
{
	pointer-events: none;
    opacity: 0.5;
}


#submit_txt
{
	position: absolute;
	margin-top: 1.5vh;
	width: 100%;
	text-align: center;
	font-family: Robotothin;
	font-size: 3vh;
	pointer-events: none;
}

#history_div
{
	position: absolute;
	left: 30vw;
	top: 40vh;
	height: 55vh;
	width: 40vw;
	border: solid 1px white;
	border-radius: 10vh;
	transition-duration: 1s;

}

#hist_nuits
{
	position: absolute;
	left: 3vw;
	top: 2.5vh;
	color: white;
	font-family: 'Robotothin';
	font-size: 3vh;
}

#hist_repas
{
	position: absolute;
	left: 17.5vw;
	top: 2.5vh;
	color: white;
	font-family: 'Robotothin';
	font-size: 3vh;
}

#hist_km
{
	position: absolute;
	right: 3vw;
	top: 2.5vh;
	color: white;
	font-family: 'Robotothin';
	font-size: 3vh;
}

#hist_line
{
	position: absolute;
	width: 90%;
	height: 2px;
	background-color: #2d3845;
	top: 8vh;
	left: 5%;
}

#hist_hf
{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 10vh;
	color: white;
	font-family: 'Robotothin';
	font-size: 3.5vh;
}

#calendar
{
	position: absolute;
	top: 30vh;
	left: 42.5vw;
	height: 8vh;
	width: 15vw;
	transition-duration: 1s;
}
#cacher{

	display: none;
	position: absolute;
	border-radius: 50px;
	background-color: #2d3845;
	opacity: 1;
	width: 700px;
	height: 520px;
	top: 17vh;
	left: 27vw;
	z-index: 101;
}
#hautcacher{
	color: white;
	font-size: 220%;
	margin-left: 20%;
	font-family: Robotothin;
}
#textedate{
	color: white;
	position: absolute;
	top: 22.5vh;
	left: 12vw;
	text-align: right;
	font-size: 200%;
	font-family: Robotothin;
}
#arriere{
	display: none;
	position: absolute;
	background-color: black;
	opacity: 0.7;
	width: 1550px;
	height: 651px;
	top: 11vh;
	left: -1vw;
	z-index: 100;
}
#valider{
	    padding-top: 2.5vh;
		color: #2d3845;
		position: absolute;
		background-color: white;
		top: 53.5vh;
		left: 16vw;
		border-radius: 40px;
		width: 15vw;
		height: 7.5vh;
    	transition-duration: 0.4s;
}
h3{
	margin-top: 0;
	font-size: 180%;
	text-align: center;
	font-family: Roboto;
}
#libellé{
	position: absolute;
	color: white;
	left: 18vw;
	top: 35vh;
	border-radius: 60px;
	height: 40px;
	width: 215px;
	font-size: 172%;
	text-align: center;
	font-family: Robotothin;
	border-style: solid;
	border-color: white;
	background-color: #2d3845;
}
#textelibelé{
	color: white;
	position: absolute;
	top: 35vh;
	left: 10.5vw;
	text-align: right;
	font-size: 200%;
	font-family: Robotothin;
}
#date{
	position: absolute;
	color: white;
	left: 18vw;
	top: 22vh;
	border-radius: 60px;
	height: 40px;
	width: 215px;
	font-size: 172%;
	text-align: center;
	font-family: Robotothin;
	border-style: solid;
	border-color: white;
	background-color: #2d3845;

}
#close{
	position: absolute;
	width: 6%;
	left: 42vw;
	top: 2vh;
}

#month
{
	position: absolute;
	width: 100%;
	text-align: center;
	color: white;
	font-family: Robotothin;
	font-size: 4vh;
	top: 1.5vh;
}

#prev_btn
{
	background-position: center;
	background-image: url("Arrow_left.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 60%;
	width: 20%;
	position: absolute;
	top: 20%;
	left: 0;
}

#next_btn
{
	background-position: center;
	background-image: url("Arrow_right.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 60%;
	width: 20%;
	position: absolute;
	top: 20%;
	left: 80%;
}
@font-face{

	font-family: Robotothin;
	src: url(Roboto-Thin.ttf);
}

@font-face{

	font-family: Robotoreg;
	src: url(Roboto-Regular.ttf);
}